Repository bkkhadil/webapp: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend/core') {
                      sh 'mvn clean package -DskipTests'
                      docker.build("${REGISTRY}/backend:${VERSION}", './docker/backend')
                  }
              }
          

Build Frontend:
              steps {
                  dir('frontend') {
                      sh 'npm ci'
                      sh 'npm run build --prod'
                      docker.build("${REGISTRY}/frontend:${VERSION}", '.')
                  }
              }
          

Test pipelinee
  .gitlab-ci.yml
Due: none

Test pipelin
  .gitlab-ci.yml
  Jenkinsfile
  docker-compose.yml
  frontend/src/app/core/components/home/home.component.html
Due: Build Frontend

Test pipelin
  .gitlab-ci.yml
  Jenkinsfile
Due: none

Test pipelin
  .gitlab-ci.yml
Due: none

Test pipelin
  frontend/src/app/core/components/home/home.component.html
Due: Build Frontend

Ton message de commit
  .gitlab-ci.yml
  Jenkinsfile
  backend/core/docker/backend/Dockerfile
  backend/core/src/main/resources/application.properties
  docker-compose.yml
  frontend/.dockerignore
Due: Build Backend, Build Frontend

Fix start script for production deployment
  backend/core/pom.xml
  backend/core/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
Due: Build Backend, Build Frontend

add this server.port=${PORT:8077}
  backend/core/src/main/resources/application.properties
Due: Build Backend

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
